body {
  background-color: #8c9eff;
}

.header-primary {
  text-align: center;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header-primary-main {
  font-size: 300%;
  letter-spacing: 0.5rem;
  color: #dd2c00;
  text-shadow: #333 6px 3px;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header-primary-sub {
  font-size: 150%;
  font-weight: normal;
  color: #dd2c00;
  text-shadow: #333 6px 3px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: lighter;
}

.container {
  width: 60%;
  margin: auto;
}
.box-1 {
  background-color: #ff3d00;
  color: #fffde7;
  font-size: 150%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
  border: 3px #1a237e solid;
  padding: 20px;
  margin: 20px 0;
}

.box-2 {
  background-color: #ff3d00;
  color: #fffde7;
  font-size: 150%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
  border: 3px solid #1a237e;
  padding: 20px;
  margin: 20px 0;
}

.box-3 {
  background-color: #ff3d00;
  color: #fffde7;
  font-size: 150%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
  border: 3px solid #1a237e;
  padding: 20px;
  margin: 20px 0;
}

.image-1 {
  width: 20rem;
  margin-left: 30%;
  margin-top: 3%;
}
.image-2 {
  width: 25rem;
  margin-left: 30%;
  margin-top: 2%;
}
.image-3 {
  width: 25rem;
  margin-left: 25%;
  margin-top: 2%;
}
.link {
  margin-left: 37%;
  margin-top: 3%;
}
