body {
  background-color: #ff3d00;
}

h1 {
  margin-top: 5%;
  margin-left: 43%;
  font-size: 300%;
  color: #cfd8dc;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h2 {
  margin-left: 40%;
  font-size: 200%;
  color: #cfd8dc;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: lighter;
}

.container {
  width: 50%;
  margin: auto;
}
.box-1 {
  background-color: #fff176;
  color: #ff3d00;
  font-size: 150%;
  border: 3px white solid;
  padding: 20px;
  margin: 20px 0;
}

.box-2 {
  background-color: #fff176;
  color: #ff3d00;
  font-size: 150%;
  border: 3px solid white;
  padding: 20px;
  margin: 20px 0;
}
.box-3 {
  background-color: #fff176;
  color: #ff3d00;
  font-size: 150%;
  border: 3px solid white;
  padding: 20px;
  margin: 20px 0;
}
.box-1 h1 {
  font-family: Tahoma;
  font-weight: 800;
  font-style: italic;
}
